/*=============================================*/
/* all */
/*=============================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Kanit", sans-serif;
    background-color: RGB(255, 220, 231);
}

a{
    text-decoration: none;
}

.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-flex .login:hover,.shopnow:hover{
    background-color: RGB(213, 92, 101);
    transition: background-color 0.5s ease;
}

.imglongin{
    margin-right: 6px;
}


/*=============================================*/
/* navbar */
/*=============================================*/
.navbar{
    background-color: RGB(66, 59, 112);
    position: fixed;
    top: 0;
    width: 100%;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.webname-logo{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.name-web {
    color: RGB(255, 154, 162);
    font-size: 2.5rem;
    font-weight: 700;
}

.menu{
    display: flex;
    list-style-type: none;
}

.menu li a{
    font-size: 1.25rem;
    color: RGB(255, 154, 162);
    display: block;
    padding: 46px 24px;
}

.menu li a:hover,
.menu li a.active{
    background-color: RGB(115, 122, 186);
    color: #ffffff;
}

.header-flex .login{
    padding: 16px 24px;
    background-color: RGB(130, 137, 255);
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

/*=============================================*/
/* header */
/*=============================================*/


/*=============================================*/
/* main */
/*=============================================*/

.main-content {
    margin-top: 150px;
}

.card {
    border-radius: 20px;
    background-color: #423B70;
    padding: 20px 0px;
    box-shadow: 4px 8px 10px rgb(145, 145, 145);

}

.flex-card {
    display: flex;
    align-items: center;
    line-height: 1.8;
    justify-content: space-around;
 

}
.img-info img{
    width: 314px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
     display: flex;
     gap: 20px;
}

.info-content li{
    list-style: none;
}

.info-content li p{
    color: #ffffff;
}

.title-maps {
    text-align: center;
    font-size: 2.2rem;
    margin: 30px 0;
}

.card-maps {
    width: 100%;
    height: 560px; 
    background-color: #423B70;
    border-radius: 24px;
    box-shadow: 4px 8px 10px rgb(145, 145, 145);

    
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.img-maps {
    max-width: 90%;
    height: 500px;
    border-radius: 12px;
}


/*=============================================*/
/* footer */
/*=============================================*/
footer{
    background-color: #000;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}
.footer-pd{
    padding: 14px 0;
}