* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kanit", sans-serif;
  background-color: rgb(187, 187, 187);
  color: #333;
}
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: #002faf;
}
a:hover {
  text-decoration: underline;
}
/* Heade */
.site-header {
  background-color: white;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.site-title {
  font-size: 1.375rem;
  font-weight: 700;
}
.site-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: #777777;
}
.social-icons a {
  font-size: 1rem;
  font-weight: 600;
  color: #555;

  border: 1px solid black;
  border-radius: 50%;

  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
  transition: transform 0.3s;
}
.social-icons a:hover {
  background-color: rgb(0, 110, 255);
  color: #ffffff;
  border-color: rgb(0, 110, 255);
  transform: translateY(-5px);
}
.main-nav {
  background-color: rgb(0, 110, 255);
}
.nav-menu {
  display: flex;
  list-style-type: none;
}
.nav-menu li a {
  color: #ffffff;
  font-size: 0.9rem;
  display: block;
  padding: 15px 20px;
}
.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: rgb(0, 94, 216);
}
.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 4px rgb (0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 30px;
}
.hero-content {
  background-color: #a0a0a0;
  padding: 30px 0;
  margin-bottom: 30px;
  box-shadow: 0 2px 14px;
}
.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
}
.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}
