* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kanit", sans-serif;
  background-color: rgb(187, 187, 187);
  color: #333;
}
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: #002faf;
}
a:hover {
  text-decoration: underline;
}
/* Heade */
.site-header {
  background-color: white;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.site-title {
  font-size: 1.375rem;
  font-weight: 700;
}
.site-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: #777777;
}
.social-icons a {
  font-size: 1rem;
  font-weight: 600;
  color: #555;

  border: 1px solid black;
  border-radius: 50%;

  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
  transition: transform 0.3s;
}
.social-icons a:hover {
  background-color: rgb(0, 110, 255);
  color: #ffffff;
  border-color: rgb(0, 110, 255);
  transform: translateY(-5px);
}
.main-nav {
  background-color: rgb(0, 110, 255);
}
.nav-menu {
  display: flex;
  list-style-type: none;
}
.nav-menu li a {
  color: #ffffff;
  font-size: 0.9rem;
  display: block;
  padding: 15px 20px;
}
.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: rgb(0, 94, 216);
}
.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 4px rgb (0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 30px;
}
.hero-content {
  background-color: #a0a0a0;
  padding: 30px 0;
  margin-bottom: 30px;
  box-shadow: 0 2px 14px;
}
.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
}
.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 0.9fr;
  gap: 20px;
}
/*===============================================*/
/*Left side*/
/*===============================================*/
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 18px;
}
.card + .card {
  margin-top: 12px;
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-headline {
  font-size: 0.687rem;
  color: #777;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-circle {
  background-color: rgb(0, 162, 255);
  border-radius: 50%;
  font-size: 0.69rem;
  color: #ffffff;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-circle span.day {
  font-size: 1.2rem;
  font-weight: 700;
}
.post-description {
  font-size: 0.82rem;
  color: #555;
  line-height: 1.5;
  margin: 10px 0;
}
/* css for card1 img*/
.post-image {
  height: 250px;
  overflow: hidden;
  margin: 10px 0;
}
.post-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.post-footer {
  font-size: 0.69rem;
  color: #777;
  border-top: 1px solid #777;
  padding-top: 10px;
  display: flex;
  gap: 8px;
}
/* css fo card2 table*/
.comparison-table {
  border-radius: 6px;
  box-shadow: 0 2px 8px;
}
.comparison-table th {
  background: linear-gradient(45deg, blue 0%, rgb(132, 0, 255) 100%);
  color: #ffffff;
  padding: 15px;
}
.comparison-table td {
  background-color: #ffffff;
  padding: 15px;
}
.comparison-table tr:nth-child(even) td {
  background-color: #ddf4fc;
}
.comparison-table tr:hover td {
  background-color: #baefff;
}
.feature {
  font-weight: 600;
  background-color: rgb(221, 233, 241);
}
.txt-red {
  font-weight: 500;
  color: red;
}
.txt-green {
  font-weight: 500;
  color: rgb(30, 255, 0);
}
.txt-gray {
  font-weight: 500;
  color: rgb(155, 155, 155);
}

/*===============================================*/
/*forms tyle - left side*/
/*===============================================*/

.contect-title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
  color: #01299a;
  font-weight: 700;
  text-shadow: 0 2px 4px rgb(174, 171, 171);

}
.contact-form-main-card {
background-color: #e8e8e8;
padding: 40px;
border-radius: 15px;
margin: 0 auto;
box-shadow: 0  10px 15px rgba(128, 128, 128, 0.934);
border: 1px solid rgb(188, 188, 188);
}


.form-label {
  font-size: 0.82rem;
  color: #0e0ed4;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}
/* .form-select {
  border: ;
} */

.contact-form-main-card.form-input,
.contact-form-main-card.form-select,
.contact-form-main-card.form-textarea {
  background-color: #ffffff;
  border: 2px solid rgb(173, 173, 173);
  color: #333;

}

.form-input ,
.form-select,
.form-textarea{
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 0.9rem;
  border: 1px solid rgb(173, 173, 173);
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 5px;
}

.form-checkbox-group {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  font-size: 0.82rem;
  gap: 5px;
}

.checkbox-item input[type="checkbox"] {
  accent-color: red;
  transform: scale(1.15);

}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}


/* Focus: ฟอร์มหลัก */
.contact-form-main-card .form-select:focus,
.contact-form-main-card .form-input:focus,
.contact-form-main-card .form-textarea:focus {
    outline: none;
    background: #fff;
    border-color: #3154f0;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.18);
    transform: translateY(-1px);
}

.contact-form-main-card .form-button{
  width: 100%;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(45deg, rgb(253, 0, 0) 0%, rgb(236, 24, 255) 100%);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form-main-card .form-button.module1 {
  background: linear-gradient(45deg, rgb(24, 61, 249) 0%, rgb(24, 213, 255) 100%);
}


/* hover ของ ปุ่มกด submit */

.contact-form-main-card .form-button:hover {
background: linear-gradient(45deg, #5a67d8, #6b46c1);
transform: translateY(-2px);
box-shadow: 0 8px 20px rgba(102, 126, 234, 0.35);
}




/*===============================================*/
/*Right side*/
/*===============================================*/
.widget {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 15px;
}

.widget + .widget {
  margin-top: 15px;
}

.btn-fb {
  background-color: #22389a;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-fb a {
  color: #fff;
  font-size: 0.82rem;

}



  /* img */
.right-img {
  height: 200px;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 5px;
}

.right-img img{
  width: 100%;
  height: auto;
  object-fit: cover
}
  /* img */

 /* Widget  */


.content-form-card-widget {
  background : linear-gradient(180deg, rgb(36, 160, 100) 0%, rgb(87, 255, 132) 100%);
  border-radius: 10px;
  padding: 25px 20px;
  margin: 20px 0;

}

.content-form-card-widget.module-1 {
  background : linear-gradient(180deg, rgb(13, 70, 254) 0%, rgb(64, 198, 250) 100%);
}

.title-form-widget {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.form-label-widget {
  color: #fff;
  font-size: 0.82rem;
  font-weight: 500;
  display: block;
  margin: 8px 0;

}

.form-btn-widget {
  width: 100%;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(45deg, rgb(255, 199, 79) 0%, rgb(255, 238, 57) 100%);
  font-size: 1rem;
  font-weight: 600;
  margin: 15px 0;
}

.form-btn-widget.module-1 {
  background: linear-gradient(45deg, rgb(255, 176, 4) 0%, rgb(247, 227, 8) 100%);
}

/* hover ของ ปุ่มกด submit */
.content-form-card-widget .form-btn-widget:hover {
background: linear-gradient(45deg, #5a67d8, #6b46c1);
transform: translateY(-2px);
box-shadow: 0 8px 20px rgba(102, 126, 234, 0.35);
}

/* Focus: ฟอร์มรอง */
.content-form-card-widget .form-select:focus,
.content-form-card-widget .form-input:focus,
.content-form-card-widget .form-textarea:focus {
    outline: none;
    background: #fff;
    border-color: #3154f0;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.18);
    transform: translateY(-1px);
}




