* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.7;
   color: rgb(255, 255, 255);
}

.container {
   width: 80%;
   margin: 0 auto;


}

nav {
   background-color: #5B23FF;
   display: flex;
   justify-content: space-between;
   padding: 1rem 5rem;
   align-items: center;
   width: 100%;
}

.nav-links {
   list-style: none;
   display: flex;
   gap: 4rem;
   margin-right: 70px;
}




.nav-links li a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   transition: 0.3s;
   font-size: 20px;

}

.nav-links li a:hover {
   color: #362F4F;
}

.logo {
   width: 70px;
   height: auto;
}

.card {
   border-radius: 20px;
   background-color: #a3a3a3;
   padding: 20px 40px;
   margin: 25px auto;
   box-shadow: 0 8px 12px rgb(158, 158, 158);
   border-top:5px solid #362F4F;

}

h2 {
   margin: 10px 0px;
   color: #E4FF30;
}

.content {
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
}

.content img {
   width: 400px;
   height: 400px;
   border-radius: 999px;
   background-size: cover;
   object-fit: cover;
   box-shadow: 0 14px 20px rgba(0, 0, 0, 0.35);
}



.content pre {
   /* border: 1px solid red; */
   font-size: 22px;
   margin-left: 20px;

}

table {
   border-collapse: collapse;
   width: 60%;
   margin: 20px auto;

}

th,
td {
   border: 2px solid #141414;
   padding: 10px;
   text-align: center;
   background-color: rgb(203, 203, 203);

}

th {
   background-color: #8f8787;

}

.contact {
   list-style: none;
   padding-left: 30px;

}


.contact li {
   display: flex;
   align-items: center;
   /* จัดกึ่งกลางแนวตั้ง */
   gap: 8px;
   /* ระยะห่างไอคอนกับข้อความ */
}

.back-link {
   background-color: #3a3535;
   padding: 10px 15px;
   border-radius: 10px;
   text-decoration: none;
   color: #fff;
   
}
footer {
   margin-bottom: 30px;

}